.error{
    color: red;
}
.container{
    text-align: center;
    margin: auto;
    border: 2px solid skyblue;
    margin-top: 20px;
    padding: 10px;
}
#loginForm{
    padding: 10px;
    margin: 15px;
}
button{
    width: 25%;
    padding: 5px;
    margin: 5px;
}