<html>
    <head>
        <title>Information</title>
    </head>
    <body>
        <h1>Welcome!!</h1>
        <h3>This is angular training</h3>
        <p class="info">Student or Employee,everyone needs training and learning,so here we have all that we have learned soo far. 
            We hope you learn loads from here. If u face any issue please reach out to us.</p>
        <p class="info">Here we have a Products List of Vegetables and we have also created a shopping Cart which helps
            user to buy vegetables. This is not a real time application but it resembles blinkit instamart somewhat.</p>
        <p style="margin: 5px;padding: 5px;text-align: center;font-size: 5rem;color: plum;">Thankyou for visiting us!!</p>
        <img src="../../assets/tulips.jpg">
    </body>
</html>