<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#">Instamart</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" routerLinkActive="active" [routerLink]="['']">Home</a>
            <a class="nav-item nav-link" [routerLink]="['products']">Veggies</a>
            <a class="nav-item nav-link" [routerLink]="['about us']">About Us</a>
            <a class="nav-item nav-link" [routerLink]="['contact us']">Contact Us</a>
            <a class="nav-item nav-link" [routerLink]="['login']">Login</a>
        </div>
    </div>
</nav>