<html>
    <head>
        <title>Registeration Form</title>
    </head>
    <body>
        <h1>Registeration Form</h1>
        <div id="container" class="form-group">
            <form [formGroup]="regForm" (ngSubmit)="onSubmit()">
                Enter Name: <input class="form-control" type="text" formControlName="fullName" name="fullName" id="fullName" required minlength="3"><br>
                <div *ngIf="fullName">
                    <div *ngIf="!fullName.valid && (fullName.dirty||fullName.touched)">
                        <div [hidden]="!fullName.errors?.['required']"> Name is required</div>
                    </div>
                    <div *ngIf="fullName.errors?.['minlength']"> Name minimum number of chars required is 3</div>
                </div><br>
                Enter Email: <input class="form-control" type="email" name="mail" id="mail" formControlName="mail" required><br>
                <div *ngIf="mail">
                    <div *ngIf="!mail.valid && (mail.dirty||mail.touched)">
                        <div [hidden]="!mail.errors?.['required']"> Email is required</div>
                    </div>
                </div><br>
                Select Gender: <input type="radio" id="sex" name="sex" value="male" formControlName="sex">Male
                            <input type="radio" id="sex" name="sex" value="female" formControlName="sex">Female
                            <input type="radio" id="sex" name="sex" value="other" formControlName="sex">Other
                            <br>
                <div *ngIf="sex">
                    <div *ngIf="!sex.valid && (sex.dirty||sex.touched)">
                        <div [hidden]="!sex.errors?.['required']"> Gender is required</div>
                    </div>
                </div><br>
                <div formGroupName="addr">Enter Address: 
                    <input class="form-control" type="text" formControlName="city" id="city" name="city" required><br>
                    <input class="form-control" type="text" formControlName="state" id="state" name="state" required><br>
                    <input class="form-control" type="text" formControlName="country" id="country" name="country" required><br>
                    <div *ngIf="city">
                        <div *ngIf="!city.valid && (city.dirty||city.touched)">
                            <div [hidden]="!city.errors?.['required']"> city field in address is required</div>
                        </div>
                    </div><br>
                    <div *ngIf="state">
                        <div *ngIf="!state.valid && (state.dirty||state.touched)">
                            <div [hidden]="!state.errors?.['required']"> state field in address is required</div>
                        </div>
                    </div><br>
                    <div *ngIf="country">
                        <div *ngIf="!country.valid && (country.dirty||country.touched)">
                            <div [hidden]="!country.errors?.['required']"> country field in address is required</div>
                        </div>
                    </div>
                </div>
                <input type="text" #username="ngModel" minlength="5" maxlength="25" required name="username" id="username" class="username" ngModel><br>
                <div id="uid" *ngIf="!username.valid && (username?.dirty || username?.touched)">
                    <div *ngIf="username.errors?.['required']">
                        Username is required
                    </div>
                    <div *ngIf="username.errors?.['minlength']">
                        Mininimum length is 5
                    </div>
                </div><br>
                <label for="password">Enter Password</label><br>
                <input type="password" #password="ngModel" minlength="8" maxlength="25" required name="password" id="password" class="password" ngModel><br><br>
                <div id="uid" *ngIf="!password.valid && (password?.dirty || password?.touched)">
                    <div *ngIf="password.errors?.['required']">
                        Password is required
                    </div>
                    <div *ngIf="password.errors?.['minlength']">
                        Mininimum length is 8
                    </div>
                </div><br>
                <button class="btn btn-success" type="submit" [disabled]="!regForm.valid">Submit</button>
            </form>
        </div>
    </body>
</html>