<html>
    <head>
        <title>InstaSMart</title>
    </head>
    <body>
        <app-navbar></app-navbar>
        <router-outlet></router-outlet>
    </body>
</html>
<!-- <app-home-page></app-home-page>
<app-about-us></app-about-us>
<app-contact-us></app-contact-us>
<app-page-not-found></app-page-not-found>
<app-login></app-login>
<app-register></app-register>
<app-navbar></app-navbar>
<app-payment></app-payment>
<app-products-list></app-products-list>
<app-product-add></app-product-add>
<app-cart></app-cart>
<app-product-edit></app-product-edit> -->