<html>
    <head>
        <title>Payment Gateway</title>
    </head>
    <body>
        <button type="submit" class="btn btn-success">apply coupon</button><br><br>
        <button type="submit" class="btn btn-success">pay with net banking</button><br><br>
        <form id="pForm" name="pForm" class="pForm" #pForm="ngForm">
            Pay using Debit or Credit Card
            <label>Card Number:</label>
            <input type="number" id=“cardNum” name="cardNum" #cardNum="ngModel" placeholder="###-###-###" ngModel required>
            <div *ngIf="cardNum">
                <div *ngIf="!cardNum.valid && (cardNum.dirty||cardNum.touched)">
                    <div [hidden]="!cardNum.errors?.['required']"> Card number is required</div>
                </div>
            </div><br>
            <label>Expiry Date:</label>
            <input type="date" id=“expDate” name="expDate" #expDate="ngModel" required ngModel>
            <div *ngIf="expDate">
                <div *ngIf="!expDate.valid && (expDate.dirty||expDate.touched)">
                    <div [hidden]="!expDate.errors?.['required']"> Expiry Date is required</div>
                </div>
            </div><br>
            <label>CVV Number:</label>
            <input type="number" id=“cvvNum” name="cvvNum" #cvvNum="ngModel" placeholder="xxx" ngModel required minlength="3" maxlength="3">
            <div *ngIf="cvvNum">
                <div *ngIf="!cvvNum.valid && (cvvNum.dirty||cvvNum.touched)">
                    <div [hidden]="!cvvNum.errors?.['required']"> CVV number is required</div>
                </div>
            </div><br>
            <label>Card Holder Name:</label>
            <input type="text" id=“fullName” name="fullName" #fullName="ngModel" placeholder="enter your name" minlength="5" ngModel required>
            <div *ngIf="fullName">
                <div *ngIf="!fullName.valid && (fullName.dirty||fullName.touched)">
                    <div [hidden]="!fullName.errors?.['required']"> Name is required</div>
                </div>
            </div><br>
            <button type="submit" class="btn btn-success" [disabled]="!pForm.valid" (click)="onSubmit(pForm)">submit</button> 
        </form>
    </body>
</html>