form{
    background-color: black;
    color: whitesmoke;
    margin: auto;
    padding: 10px;
}
body{
    background-image: url('../../assets/images/bg.jpg');
    padding-left: 11em;
    padding-right: 20em;
}