.container{
    text-align: center;
    margin: auto;
    border: 2px solid skyblue;
    margin-top: 20px;
    padding: 10px;
}
#loginForm{
    padding: 10px;
    margin: 15px;
}
button{
    width: 15%;
    padding: 5px;
    margin: 5px;
}
.error{
    color: red;
}
.card{
    padding: 10px;
    margin: auto;
    font-weight: bold;
    text-align: center;
}