<html>
    <head>
        <title>HomePage</title>
    </head>
    <body>
		<ngb-carousel>
			<ng-template ngbSlide>
				<div class="picsum-img-wrapper">
					<img src="../../assets/vegs.jpg" alt="Carousel One">
				</div>
				<div class="carousel-caption">
				  <h5>InstaSMart</h5>
				  <p>For best shopping experience</p>
				  <p>Shop with us :-)</p>
				</div>
			</ng-template>
			<ng-template ngbSlide>
				<div class="picsum-img-wrapper">
					<img src="../../assets/fruits.jpg" alt="Carousel Two">
				</div>
				<div class="carousel-caption">
				  <h5>Fruits</h5>
				  <p>Don't limit youself</p>
				  <p>Buy all kinds of fruits</p>
				  <p>Buy all kinds of fruits</p>
				</div>
			</ng-template>
			<ng-template ngbSlide>
				<div class="picsum-img-wrapper">
					<img src="../../assets/roses.jpg" alt="Carousel Three">
				</div>
				<div class="carousel-caption">
				  <h5>Camera</h5>
				  <p>Don't you like the nature</p>
				  <p>So capture it</p>
				</div>
			</ng-template>
		</ngb-carousel>
	</body>
</html>